<!DOCTYPE html>
<html>

<body>

  <h2>Input Form</h2>

  <form action="/result" method="post">
    <label for="gender">Gender:</label><br>
    <input type="text" id="gender" name="gender"><br>
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age"><br>
    <label for="smoking">Smoking:</label><br>
    <input type="text" id="smoking" name="smoking"><br>
    <label for="yf">Yellow_Fingers:</label><br>
    <input type="text" id="yf" name="yf"><br>
    <input type="submit" value="Submit">
  </form>

</body>

</html>