<!DOCTYPE html>
<html>

<body>

  <h2>Input Form</h2>

  <form action="/result" method="post">

    <label for="gender">Gender:</label><br>
    <select id="gender" name="gender">
      <option value="0">Male</option>
      <option value="1">Female</option>
    </select><br>
    
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age"><br>
    
    <label for="smoking">Smoking:</label><br>
    <select id="smoking" name="smoking">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>
    
    <label for="yf">Yellow_Fingers:</label><br>
    <select id="yf" name="yf">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>
    
    <label for="anxiety">Anxiety:</label><br>
    <select id="anxiety" name="anxiety">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>
    
    <label for="peerpressure">Peer_Pressure:</label><br>
    <select id="peerpressure" name="peerpressure">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>

    <label for="chronicdisease">Chronic_Disease:</label><br>
    <select id="chronicdisease" name="chronicdisease">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>

    <label for="fatigue">Fatigue:</label><br>
    <select id="fatigue" name="fatigue">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>

    <label for="allergy">Allergy:</label><br>
    <select id="allergy" name="allergy">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>
    
    <label for="wheezing">Wheezing:</label><br>
    <select id="wheezing" name="wheezing">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>

    <label for="alcohol">Consuming_Alcohol:</label><br>
    <select id="alcohol" name="alcohol">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>

    <label for="cough">Coughing:</label><br>
    <select id="cough" name="cough">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>
    
    <label for="shortbreath">Shortness_of_Breath:</label><br>
    <select id="shortbreath" name="shortbreath">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>
    
    <label for="swallowdiff">Swallowing_Difficulty:</label><br>
    <select id="swallowdiff" name="swallowdiff">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>

    <label for="chestpain">Chest_Pain:</label><br>
    <select id="chestpain" name="chestpain">
      <option value="1">No</option>
      <option value="2">Yes</option>
    </select><br>

    <input type="submit" value="Submit">
  </form>

</body>

</html>